.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/exercise
build/main
build/object
build/rules.ninja
build/template
build/type
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-cd2d57b2ebe124e2752a.json
build/.cmake/api/v1/reply/codemodel-v2-294c6350231c7ddb5e57.json
build/.cmake/api/v1/reply/index-2021-12-09T05-40-12-0529.json
build/.cmake/api/v1/reply/target-exercise-Debug-2423239e1c1f8ee53063.json
build/.cmake/api/v1/reply/target-main-Debug-1335fbae50c124a662e6.json
build/.cmake/api/v1/reply/target-object-Debug-5f5ec638807709b0d9cb.json
build/.cmake/api/v1/reply/target-template-Debug-e7afcc40e272d4eed24a.json
build/.cmake/api/v1/reply/target-type-Debug-8b4a650a3e6a06b5a0f3.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/a.out
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/exercise.dir/exercise.cc.o
build/CMakeFiles/main.dir/strength_variable.cc.o
build/CMakeFiles/object.dir/object_oriented.cc.o
build/CMakeFiles/template.dir/template_test.cc.o
build/CMakeFiles/type.dir/type_inference.cc.o
build/